.firstDiv{
    background-color: #223843 !important;
    
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .nav-link{
    
    font-weight: 700;
    color: white;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    
  }
  .nav-link:link
{
   color: grey;
   text-decoration: none;
}
.nav-link:visited
{
   color: white;
   text-decoration: none;
}
.nav-link:hover
{
   color: grey;
   text-decoration: none;
}
.nav-link:active
{
   color: white;
   text-decoration: none;
}
.secondDiv{
    background-color: #288080  !important;
}

.mainspacing{
    padding-bottom: 50%;
    padding-top: 10%;
}

.beach{
    border-radius: 12px;
    box-shadow: 10px 10px 5px rgb(24, 29, 26);
}